
@{
    ViewBag.Title = "Index";
}

<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Veterinaria firulais</h1>
                <p class="lead mb-5 text-white-50">Como Clínica Veterinaria ponemos a tu disposición el mejor servicio veterinario las 24 horas del día. Ofrecemos asesorías preventivas, consulta general y especializada, cirugías, imagenología (radiografías, ecografías), servicio de urgencias, hospitalización, entre otros... Buscamos brindarte la mejor experiencia respaldados de la mejor calidad, alta tecnología y la más excelente atención...</p>
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Lo que hacemos</h2>
            <hr>
            <p>Como Clínica Veterinaria ponemos a tu disposición el mejor servicio veterinario las 24 horas del día. Ofrecemos asesorías preventivas, consulta general y especializada, cirugías, imagenología (radiografías, ecografías), servicio de urgencias, hospitalización, entre otros...</p>
            <p>Buscamos brindarte la mejor experiencia respaldados de la mejor calidad, alta tecnología y la más excelente atención...</p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contáctenos</h2>
            <hr>
            <address>
                <strong>Medellín</strong>
                <br>Barrio pachulin
                <br>Calle 777 #11-56
                <br>
            </address>
            <address>
                <abbr title="Phone">Teléfono</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">Correo</abbr>
                <a href="mailto:#">veterinaria@firulais.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
