@model Veterinaria.Models.tbl_raza

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de que desea eliminar este elemento?</h3>
<div>
    <h4>Raza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
                   Nombre
            @*@Html.DisplayNameFor(model => model.nombre_r)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_r)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index", new { area = "" }, new { @class = "btn btn-sm btn-secondary btn-sm" })
        </div>
    }
</div>
